@import './breakpoint';
@import './variable';
@import './notifications';


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $light-grayish-blue2;
}

main{
        display: flex;
        align-items: center;
        justify-content: center;
    
}

button{
    background-color: transparent;
    border: none;
}

button:focus,
button:focus-visible,
button:focus-within{
    border: none;
}

.container{
    padding: 1rem;
    background-color: $white;
    @media (min-width: 768px) {
        max-width: 80%;
        margin: 3rem 0;
    }

    @include breakpoint-up(medium){
        max-width: 60%;
        margin: 4rem 0;
        border-radius: 10px;
    }
    @include breakpoint-up(large){
        max-width: 60%;
    }
    .heading{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .heading-left{
            p{
                color: $primary-blue;
                font-weight: bold;
                font-size: 1.25rem;

                button{
                    margin-left: 0.5rem;
                    color: $white;
                    padding: 0.4rem 0.7rem;
                    background-color: $primary-blue;
                    border-radius: 5px;
                 
                }

            }
        }
        .heading-right{
            button{
                color: $grayish-blue;
                transition: $transition;
                cursor: pointer;
                    &:hover{
                        color: $primary-blue;
                    }

            }
        }
    }
}